@import "tailwindcss";

@font-face {
  font-family: Ubuntu;
  src: url("/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("/fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  :root {
    @apply font-sans;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    cursor: pointer;
  }
  
  body {

    user-select: none;
  }
  
  button {
    cursor: pointer;

    font-family: inherit;
  }
}

@theme {
  --font-sans: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;

}
